body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2479px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:300px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:764px;
  top:295px;
  width:512px;
  height:300px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:300px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:113px;
  width:512px;
  height:300px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:300px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:457px;
  width:512px;
  height:300px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:300px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:295px;
  width:512px;
  height:300px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:300px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1967px;
  top:295px;
  width:512px;
  height:300px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
