body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:600px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:24px;
  width:1024px;
  height:600px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:328px;
  background:inherit;
  background-color:rgba(239, 90, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:296px;
  width:578px;
  height:328px;
  font-size:16px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:558px;
  word-wrap:break-word;
}
