body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2487px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:300px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:140px;
  width:512px;
  height:300px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:300px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:140px;
  width:512px;
  height:300px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:300px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1975px;
  top:140px;
  width:512px;
  height:300px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1867px;
  top:290px;
  width:0px;
  height:0px;
}
#u54_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u54_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-13px;
  width:27px;
  height:26px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:300px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:140px;
  width:512px;
  height:300px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:290px;
  width:0px;
  height:0px;
}
#u56_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u56_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-13px;
  width:27px;
  height:26px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1246px;
  top:290px;
  width:0px;
  height:0px;
}
#u57_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u57_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-13px;
  width:27px;
  height:26px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
